<div id="detalles_autor">
  <h2>Autores</h2>
  <img src="images/autor_david.jpg">    
  <div>
    <p>Nombre: David</p>
    <p>Apellidos: del Campo Fernández</p>
    <p><a href="https://github.com/david-delcampo">Cuenta GitHub</a></p>
  </div>
</div>